@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Yanone+Kaffeesatz:400,700&subset=latin-ext");
.bg-light-red {
  background-color: #e59ca5; }

.bg-red {
  background-color: #dd293e; }

.bg-dark-purple {
  background-color: #3c0861; }

.bg-pink {
  background-color: #c758a0; }

.bg-light-pink {
  background-color: #f5aecd; }

.bg-mint {
  background-color: #27ccbf; }

.bg-orange {
  background-color: #f6891f; }

* {
  font-family: "Yanone Kaffeesatz", sans-serif; }
  @media (max-width: 767px) {
    * {
      font-family: 16px; } }

h1, h2, h3, h4, h5, h6, p, a, ul, blockquote {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 63px;
  color: #ffffff;
  letter-spacing: 2px; }
  h1.hero-heading {
    margin-bottom: 70px; }
    @media (max-width: 767px) {
      h1.hero-heading {
        margin-bottom: 50px; } }
  @media (max-width: 767px) {
    h1 {
      font-size: 50px; } }
  @media (max-width: 543px) {
    h1 {
      font-size: 37px; } }
  h1 > b {
    font-weight: normal;
    color: #c758a0; }

h2 {
  font-size: 37px;
  color: #ffffff; }
  h2.orange-title {
    color: #f6891f;
    font-size: 63px;
    margin: 40px 0;
    text-align: center; }
    @media (max-width: 767px) {
      h2.orange-title {
        font-size: 50px; } }
    @media (max-width: 543px) {
      h2.orange-title {
        font-size: 37px;
        margin: 30px 0; } }
  h2.purple-title {
    color: #3c0861;
    font-size: 55px;
    margin: 40px 0; }
    @media (max-width: 767px) {
      h2.purple-title {
        font-size: 50px; } }
    @media (max-width: 543px) {
      h2.purple-title {
        font-size: 37px;
        margin: 30px 0; } }

h3 {
  font-size: 25px;
  font-family: "Roboto Slab", serif; }

h4 {
  font-size: 23px; }

h5 {
  font-size: 32px; }

p {
  font-size: 18px; }

a,
a:hover {
  text-decoration: none; }

blockquote {
  padding: 40px 0 10px 0;
  color: #ffffff;
  border-left: none; }
  blockquote p {
    font-size: 55px;
    text-align: center;
    line-height: 1.1; }
    @media (max-width: 767px) {
      blockquote p {
        font-size: 36px;
        text-align: left; } }
  @media (max-width: 767px) and (max-width: 543px) {
    blockquote p {
      margin-bottom: 15px; } }

  blockquote cite, blockquote div {
    text-align: right;
    display: block;
    font-size: 18px;
    font-family: "Roboto Slab", serif;
    font-style: normal; }
    blockquote cite .v-center, blockquote div .v-center {
      margin-top: -25px; }
      @media (max-width: 1199px) {
        blockquote cite .v-center, blockquote div .v-center {
          margin-top: -10px; } }
      @media (max-width: 991px) {
        blockquote cite .v-center, blockquote div .v-center {
          margin-top: -5px; } }
      @media (max-width: 767px) {
        blockquote cite .v-center, blockquote div .v-center {
          margin-top: 0px; } }

input.form-control {
  border-color: #b8b6b9;
  border-radius: 0;
  border-width: 2px;
  font-size: 18px;
  font-weight: normal;
  box-shadow: none;
  outline: none; }
  input.form-control:hover, input.form-control:focus {
    border-color: #b8b6b9;
    box-shadow: none;
    outline: none; }

.review {
  padding: 40px 0; }
  .review blockquote {
    padding: 0; }
  .review cite {
    margin-top: 20px;
    font-size: 22px; }

.p-20 {
  padding: 40px 0; }
  .p-20 h1.hero-heading {
    margin-bottom: 40px; }

.client-logo {
  text-align: center; }
  .client-logo .logos img {
    max-height: 40px;
    margin: 20px 20px 30px 20px; }
    @media (max-width: 767px) {
      .client-logo .logos img {
        margin: 15px 10px;
        max-height: 30px; } }

.rounded-image {
  border-radius: 50%;
  max-height: 130px; }
  @media (max-width: 767px) {
    .rounded-image {
      max-height: auto;
      max-width: 100%; } }

.v-center {
  display: table;
  width: 100%; }
  @media (max-width: 767px) {
    .v-center {
      display: block; } }
  .v-center > * {
    display: table-cell;
    vertical-align: middle;
    float: none; }
    @media (max-width: 767px) {
      .v-center > * {
        display: block;
        float: left; } }

.partners-logo {
  text-align: center; }
  .partners-logo img {
    width: 19%;
    margin: 50px 30px; }
    @media (max-width: 767px) {
      .partners-logo img {
        margin: 20px;
        width: 40%; } }
    @media (max-width: 543px) {
      .partners-logo img {
        width: 70%; } }

.see-more {
  color: #dd293e;
  text-align: right;
  margin-right: 200px;
  margin-bottom: 30px;
  font-size: 25px;
  font-family: "Roboto Slab", serif;
  display: block;
  font-weight: 600; }
  @media (max-width: 767px) {
    .see-more {
      margin-right: 0;
      font-size: 18px; } }

.more-link {
  color: #dd293e;
  margin: 20px 0;
  font-size: 25px;
  display: block;
  font-family: "Roboto Slab", serif; }
  @media (max-width: 767px) {
    .more-link {
      font-size: 18px; } }
  .more-link u {
    font-weight: 600;
    font-family: "Roboto Slab", serif; }

.slogan {
  padding: 60px 0;
  text-align: center; }
  .slogan div {
    font-size: 64px;
    color: #ffffff; }
    @media (max-width: 767px) {
      .slogan div {
        font-size: 32px; } }
    .slogan div b {
      font-weight: normal;
      color: #3c0861; }

.bordered-image {
  margin-bottom: 40px; }
  .bordered-image img, .bordered-image iframe {
    padding: 30px;
    border: 3px dotted #b8b6b9;
    width: 100%;
    border-radius: 25px; }
    @media (max-width: 767px) {
      .bordered-image img, .bordered-image iframe {
        padding: 10px; } }

.btn {
  position: relative;
  color: #ffffff;
  border-radius: 0;
  transition: margin-top 0.4s ease, margin-left 0.4s ease, box-shadow 0.4s ease;
  margin-left: 5px;
  will-change: transform; }
  .btn:active {
    transition: margin-top 0.4s ease, margin-left 0.4s ease, box-shadow 0.4s ease;
    margin-left: 5px;
    margin-top: 5px; }
  .btn:hover, .btn:focus {
    background-color: #27ccbf;
    color: #ffffff; }
  .btn.btn-lg {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 15px 50px; }
    @media (max-width: 767px) {
      .btn.btn-lg {
        font-size: 20px;
        width: 90%;
        padding: 12px 0; } }
  .btn.btn-sm {
    font-size: 25px;
    padding: 12px;
    width: 250px;
    font-weight: 600; }
    @media (max-width: 767px) {
      .btn.btn-sm {
        font-size: 22px;
        width: 90%;
        padding: 10px 0; } }
  .btn.btn-xs {
    font-size: 25px;
    padding: 8px 30px; }
  .btn.btn-mint {
    background-color: #27ccbf;
    border: solid 1px #27ccbf; }
    .btn.btn-mint:active {
      box-shadow: 0px 0px 0px #27ccbf !important; }
    .btn.btn-mint:hover, .btn.btn-mint:focus {
      background-color: #27ccbf; }
    .btn.btn-mint.btn-xs {
      margin-top: 5px;
      box-shadow: 1px 0px 0px #86e0d9, 0px 1px 0px #86e0d9, 2px 1px 0px #86e0d9, 1px 2px 0px #86e0d9, 3px 2px 0px #86e0d9, 2px 3px 0px #86e0d9, 4px 3px 0px #86e0d9, 3px 4px 0px #86e0d9, 5px 4px 0px #86e0d9, 4px 5px 0px #86e0d9; }
    .btn.btn-mint.btn-sm {
      font-family: "Roboto Slab", serif;
      margin-top: 6px;
      box-shadow: 1px 0px 0px #86e0d9, 0px 1px 0px #86e0d9, 2px 1px 0px #86e0d9, 1px 2px 0px #86e0d9, 3px 2px 0px #86e0d9, 2px 3px 0px #86e0d9, 4px 3px 0px #86e0d9, 3px 4px 0px #86e0d9, 5px 4px 0px #86e0d9, 4px 5px 0px #86e0d9, 6px 5px 0px #86e0d9, 5px 6px 0px #86e0d9; }
    .btn.btn-mint.btn-lg {
      font-family: "Roboto Slab", serif;
      margin-top: 11px;
      box-shadow: 1px 0px 0px #86e0d9, 0px 1px 0px #86e0d9, 2px 1px 0px #86e0d9, 1px 2px 0px #86e0d9, 3px 2px 0px #86e0d9, 2px 3px 0px #86e0d9, 4px 3px 0px #86e0d9, 3px 4px 0px #86e0d9, 5px 4px 0px #86e0d9, 4px 5px 0px #86e0d9, 6px 5px 0px #86e0d9, 5px 6px 0px #86e0d9, 7px 6px 0px #86e0d9, 6px 7px 0px #86e0d9, 8px 7px 0px #86e0d9, 7px 8px 0px #86e0d9, 9px 8px 0px #86e0d9, 8px 9px 0px #86e0d9, 10px 9px 0px #86e0d9, 9px 10px 0px #86e0d9, 11px 10px 0px #86e0d9, 10px 11px 0px #86e0d9; }
  .btn.btn-pink {
    background-color: #c758a0;
    border: solid 1px #c758a0;
    font-family: "Roboto Slab", serif; }
    .btn.btn-pink:active {
      box-shadow: 0px 0px 0px #c758a0 !important; }
    .btn.btn-pink:hover, .btn.btn-pink:focus {
      background-color: #c758a0; }
    .btn.btn-pink.btn-xs {
      font-size: 20px;
      margin-top: 5px;
      box-shadow: 1px 0px 0px #f5aecd, 0px 1px 0px #f5aecd, 2px 1px 0px #f5aecd, 1px 2px 0px #f5aecd, 3px 2px 0px #f5aecd, 2px 3px 0px #f5aecd, 4px 3px 0px #f5aecd, 3px 4px 0px #f5aecd, 5px 4px 0px #f5aecd, 4px 5px 0px #f5aecd; }
  .btn.btn-orange {
    background-color: #f6891f;
    border: solid 1px #f6891f;
    font-family: "Roboto Slab", serif; }
    .btn.btn-orange:active {
      box-shadow: 0px 0px 0px #f6891f !important; }
    .btn.btn-orange:hover, .btn.btn-orange:focus {
      background-color: #f6891f; }
    .btn.btn-orange.btn-xs {
      margin-top: 5px;
      box-shadow: 1px 0px 0px #86e0d9, 0px 1px 0px #f7c08a, 2px 1px 0px #86e0d9, 1px 2px 0px #f7c08a, 3px 2px 0px #86e0d9, 2px 3px 0px #f7c08a, 4px 3px 0px #86e0d9, 3px 4px 0px #f7c08a, 5px 4px 0px #86e0d9, 4px 5px 0px #f7c08a; }
    .btn.btn-orange.btn-sm {
      margin-top: 6px;
      box-shadow: 1px 0px 0px #f7c08a, 0px 1px 0px #f7c08a, 2px 1px 0px #f7c08a, 1px 2px 0px #f7c08a, 3px 2px 0px #f7c08a, 2px 3px 0px #f7c08a, 4px 3px 0px #f7c08a, 3px 4px 0px #f7c08a, 5px 4px 0px #f7c08a, 4px 5px 0px #f7c08a, 6px 5px 0px #f7c08a, 5px 6px 0px #f7c08a; }
    .btn.btn-orange.btn-lg {
      margin-top: 11px;
      box-shadow: 1px 0px 0px #f7c08a, 0px 1px 0px #f7c08a, 2px 1px 0px #f7c08a, 1px 2px 0px #f7c08a, 3px 2px 0px #f7c08a, 2px 3px 0px #f7c08a, 4px 3px 0px #f7c08a, 3px 4px 0px #f7c08a, 5px 4px 0px #f7c08a, 4px 5px 0px #f7c08a, 6px 5px 0px #f7c08a, 5px 6px 0px #f7c08a, 7px 6px 0px #f7c08a, 6px 7px 0px #f7c08a, 8px 7px 0px #f7c08a, 7px 8px 0px #f7c08a, 9px 8px 0px #f7c08a, 8px 9px 0px #f7c08a, 10px 9px 0px #f7c08a, 9px 10px 0px #f7c08a, 11px 10px 0px #f7c08a, 10px 11px 0px #f7c08a; }
  .btn.btn-purple {
    background-color: #3c0861;
    border: solid 1px #3c0861;
    font-family: "Roboto Slab", serif; }
    .btn.btn-purple:active {
      box-shadow: 0px 0px 0px #3c0861 !important; }
    .btn.btn-purple:hover, .btn.btn-purple:focus {
      background-color: #3c0861; }
    .btn.btn-purple.btn-lg {
      margin-top: 11px;
      box-shadow: 1px 0px 0px #65457c, 0px 1px 0px #65457c, 2px 1px 0px #65457c, 1px 2px 0px #65457c, 3px 2px 0px #65457c, 2px 3px 0px #65457c, 4px 3px 0px #65457c, 3px 4px 0px #65457c, 5px 4px 0px #65457c, 4px 5px 0px #65457c, 6px 5px 0px #65457c, 5px 6px 0px #65457c, 7px 6px 0px #65457c, 6px 7px 0px #65457c, 8px 7px 0px #65457c, 7px 8px 0px #65457c, 9px 8px 0px #65457c, 8px 9px 0px #65457c, 10px 9px 0px #65457c, 9px 10px 0px #65457c, 11px 10px 0px #65457c, 10px 11px 0px #65457c; }

.icon, .pt-icon, .eng-icon, .es-icon, .resources-icon, .press-icon, .feature-icon, .social-icon {
  background-size: contain;
  background-repeat: no-repeat;
  display: block; }

.language-icon, .pt-icon, .eng-icon, .es-icon {
  height: 35px;
  width: 45px; }

.big-icon {
  height: 180px;
  width: 205px; }

.pt-icon {
  background-image: url(../img/header/pt.png); }

.eng-icon {
  background-image: url(../img/header/eng.png); }

.es-icon {
  background-image: url(../img/header/es.png); }

.resources-icon {
  height: 160px;
  width: 100%;
  max-width: 240px;
  display: inline-block;
  background-position: center center; }

.press-icon {
  height: 80px;
  width: 100%;
  max-width: 200px;
  display: inline-block;
  background-position: center center; }

.feature-icon {
  height: 180px;
  width: 100%;
  max-width: 240px;
  display: inline-block;
  background-position: center bottom; }

.social-icon {
  height: 60px;
  width: 60px; }

.blog-bg {
  background-image: url(../img/08blog/img.png);
  background-position: center;
  background-size: cover;
  padding-bottom: 25%;
  width: 100%; }
  @media (max-width: 767px) {
    .blog-bg {
      padding-bottom: 80%; } }

.blog-page {
  background-color: white; }
  .blog-page .blog-post-box {
    padding: 30px;
    border-bottom: 3px dotted #b8b6b9; }
    .blog-page .blog-post-box:last-child {
      border-bottom: none; }
    @media (max-width: 991px) {
      .blog-page .blog-post-box {
        padding: 15px; } }
    @media (max-width: 767px) {
      .blog-page .blog-post-box {
        padding: 10px; } }
    .blog-page .blog-post-box img {
      display: none; }
    .blog-page .blog-post-box center {
      display: none; }
    .blog-page .blog-post-box h2 {
      margin: 20px 0;
      color: #f6891f;
      font-style: normal; }
      @media (max-width: 767px) {
        .blog-page .blog-post-box h2 {
          font-size: 32px; } }
    .blog-page .blog-post-box p {
      margin-top: 10px;
      font-family: "Roboto Slab", serif;
      color: #7b787d;
      font-weight: normal; }
    .blog-page .blog-post-box .author-date {
      margin-top: 20px; }
      .blog-page .blog-post-box .author-date span {
        font-weight: normal;
        color: #7b787d;
        margin-right: 10px;
        font-family: "Roboto Slab", serif;
        font-style: italic;
        font-size: 14px; }
      .blog-page .blog-post-box .author-date .author {
        text-transform: capitalize; }
  .blog-page .right-column {
    margin-right: 30px;
    margin-left: 30px; }
    @media (max-width: 991px) {
      .blog-page .right-column {
        margin: 0; } }
    @media (max-width: 767px) {
      .blog-page .right-column {
        margin: 0; } }
    .blog-page .right-column .header {
      padding: 20px; }
      .blog-page .right-column .header h3 {
        color: white;
        font-family: "Yanone Kaffeesatz", sans-serif;
        font-size: 32px;
        letter-spacing: 1px;
        margin-bottom: 0 !important; }
    .blog-page .right-column .body {
      border: 1px dashed #b8b6b9;
      border-top: none; }
    .blog-page .right-column .more-post {
      margin-top: 50px; }
      .blog-page .right-column .more-post .body {
        padding: 20px 40px; }
      .blog-page .right-column .more-post .header {
        background-color: #27ccbf; }
      .blog-page .right-column .more-post h5 {
        line-height: 1.4;
        font-size: 14px;
        font-family: "Roboto Slab", serif;
        margin-top: 20px;
        color: #7b787d; }
    .blog-page .right-column .subscribe {
      margin-top: 50px; }
      .blog-page .right-column .subscribe .header {
        background-color: #c758a0; }
      .blog-page .right-column .subscribe .body {
        padding: 20px; }
        .blog-page .right-column .subscribe .body h4 {
          font-family: "Roboto Slab", serif;
          color: #7b787d;
          font-size: 18px; }
        .blog-page .right-column .subscribe .body input {
          margin: 20px 0; }
        .blog-page .right-column .subscribe .body .btn {
          margin: 20px 0; }
    .blog-page .right-column .continue-reading {
      margin-top: 50px;
      margin-bottom: 50px; }
      .blog-page .right-column .continue-reading .header {
        background-color: #dd293e; }
      .blog-page .right-column .continue-reading .body {
        padding: 40px 20px 20px 20px; }
        .blog-page .right-column .continue-reading .body h5 {
          letter-spacing: 1px;
          line-height: 1.1;
          margin-bottom: 30px;
          color: #7b787d;
          text-decoration: underline;
          font-size: 20px;
          font-family: "Roboto Slab", serif; }

.post-page {
  padding-top: 40px;
  padding-bottom: 40px; }
  .post-page .date {
    color: #b8b6b9;
    font-family: "Roboto Slab", serif; }
    .post-page .date span {
      margin: 0 15px; }
    .post-page .date .reading-time {
      margin: 0;
      font-family: "Roboto Slab", serif; }
  .post-page h2 {
    text-align: left !important;
    margin-bottom: 10px;
    line-height: 1.2; }
  .post-page h3 {
    margin-bottom: 30px;
    color: #b8b6b9;
    font-size: 22px; }
  .post-page .autor-info {
    margin-top: 20px;
    margin-bottom: 20px; }
    .post-page .autor-info .author-image {
      border-radius: 100px;
      height: 85px;
      width: 85px;
      background-position: center center;
      display: inline-block;
      background-size: cover;
      background-repeat: no-repeat; }
    .post-page .autor-info .author {
      font-family: "Roboto Slab", serif;
      text-transform: capitalize;
      font-size: 18px;
      font-weight: 600;
      color: #3c0861; }
    .post-page .autor-info .position {
      font-family: "Roboto Slab", serif;
      font-size: 18px;
      font-weight: normal;
      display: block;
      color: #3c0861; }
  .post-page .post {
    border-bottom: 3px dotted #e8e8e8; }
    .post-page .post p {
      font-family: "Roboto Slab", serif;
      color: #7b787d;
      margin-bottom: 20px;
      line-height: 1.7;
      letter-spacing: 1px; }
      .post-page .post p strong {
        font-family: "Roboto Slab", serif; }
      .post-page .post p a {
        color: #3c0861;
        font-family: "Roboto Slab", serif;
        text-decoration: underline !important; }
    .post-page .post h2 {
      color: #f6891f;
      margin: 30px 0; }
    .post-page .post p img {
      display: inline-block;
      max-width: 100%;
      padding: 0px 80px;
      margin: 30px 0; }
      @media (max-width: 991px) {
        .post-page .post p img {
          padding: 0px 60px; } }
      @media (max-width: 767px) {
        .post-page .post p img {
          padding: 0 15px;
          margin: 15px 0; } }
    .post-page .post iframe {
      margin: 20px 0; }
      @media (max-width: 767px) {
        .post-page .post iframe {
          width: 400px !important; } }
      @media (max-width: 543px) {
        .post-page .post iframe {
          width: 290px !important; } }
  .post-page .post-nav {
    padding: 30px 0;
    border-bottom: 3px dotted #b8b6b9; }
    .post-page .post-nav:last-child {
      border-bottom: none; }
    .post-page .post-nav h2, .post-page .post-nav a {
      color: #f6891f; }
      .post-page .post-nav h2 span, .post-page .post-nav a span {
        color: #65457c; }
    .post-page .post-nav p {
      font-family: "Roboto Slab", serif;
      color: #7b787d;
      margin-bottom: 20px;
      line-height: 1.7;
      letter-spacing: 1px; }

.hero {
  background-color: #3c0861;
  padding-top: 70px;
  padding-bottom: 30px; }
  .hero h2 {
    margin-bottom: 50px; }
    @media (max-width: 767px) {
      .hero h2 {
        display: none; } }
  .hero .btn {
    margin-bottom: 40px; }
  .hero .hero-heading.orange b {
    color: #f6891f;
    display: block; }
  .hero .hero-heading.new-line b {
    display: block; }
    @media (max-width: 767px) {
      .hero .hero-heading.new-line b {
        display: inherit; } }

.hero-clinets {
  background-color: #65457c;
  padding-top: 15px; }
  .hero-clinets h3 {
    color: #ffffff; }
  .hero-clinets .logos {
    margin: 30px 0; }
    .hero-clinets .logos img {
      width: 12%;
      display: inline-block;
      margin: 10px 40px; }
      @media (max-width: 767px) {
        .hero-clinets .logos img {
          margin: 15px;
          width: 27%; } }
      @media (max-width: 543px) {
        .hero-clinets .logos img {
          width: 38%; } }

.subheader {
  padding-top: 25px;
  padding-bottom: 25px; }
  .subheader .btn {
    font-family: "Roboto Slab", serif;
    text-align: left; }

.features {
  margin-top: 20px; }
  .features h3 {
    color: #7b787d;
    font-weight: 600;
    margin: 20px 0; }
  .features p {
    color: #7b787d;
    font-family: "Roboto Slab", serif;
    margin-bottom: 40px; }
    @media (max-width: 767px) {
      .features p {
        display: none; } }
  .features.no-spacing h3 {
    margin-bottom: 5px; }
  .features h2 {
    text-align: left !important;
    font-size: 50px; }
    @media (max-width: 767px) {
      .features h2 {
        font-size: 37px; } }

.plans {
  margin-bottom: 80px; }
  @media (min-width: 768px) {
    .plans .row {
      display: table;
      overflow-x: hidden;
      width: 100%; }
      .plans .row > [class*='col-'] {
        width: 50%;
        height: 100%;
        float: none;
        vertical-align: top;
        display: table-cell; } }
  .plans .row > [class*='col-']:nth-child(2n) .plan-box h3, .plans .row > [class*='col-']:nth-child(2n) h4 {
    color: #27ccbf; }
  .plans .plan-box {
    margin: 50px 10px 0 10px;
    border: 3px dotted #b8b6b9;
    height: 100%;
    border-radius: 25px;
    padding: 40px 30px 30px 60px;
    text-align: center; }
    @media (max-width: 991px) {
      .plans .plan-box {
        margin: 0;
        padding: 20px; } }
    @media (max-width: 767px) {
      .plans .plan-box {
        margin: 10px 0;
        padding: 20px; } }
    .plans .plan-box h3, .plans .plan-box h4 {
      color: #27ccbf; }
    .plans .plan-box h3 {
      margin: 20px 0;
      font-size: 32px;
      font-weight: 600; }
    .plans .plan-box h4 {
      text-align: left;
      margin-bottom: 40px;
      font-family: "Roboto Slab", serif;
      margin-left: 30px;
      margin-right: 11px; }
      @media (max-width: 767px) {
        .plans .plan-box h4 {
          margin: 0 0 20px 0;
          text-align: center; } }
    .plans .plan-box p {
      color: #7b787d;
      text-align: left;
      margin-bottom: 20px;
      font-family: "Roboto Slab", serif; }
      @media (max-width: 767px) {
        .plans .plan-box p {
          text-align: center; } }
    .plans .plan-box .btn-orange {
      margin-top: 70px; }
      @media (max-width: 767px) {
        .plans .plan-box .btn-orange {
          margin-top: 20px; } }
  .plans .plan-box:nth-child(1) h3, .plans .plan-box:nth-child(1) h4 {
    color: #65457c; }

.heading-style, .resources h3, .press h3 {
  color: #f6891f;
  font-size: 37px;
  font-family: "Yanone Kaffeesatz", sans-serif; }
  @media (max-width: 767px) {
    .heading-style, .resources h3, .press h3 {
      text-align: center;
      margin-top: 10px; } }

.resources {
  padding: 40px 0; }
  .resources .container .row:last-child {
    border-bottom: none; }
  .resources .row {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 3px dotted #b8b6b9; }
  .resources h3 {
    margin-bottom: 30px; }
  .resources ul {
    list-style: none; }
    .resources ul li {
      color: #7b787d;
      font-size: 22px;
      margin-bottom: 10px;
      font-family: "Roboto Slab", serif; }
      @media (max-width: 767px) {
        .resources ul li {
          text-align: center;
          font-size: 18px; } }

@media (max-width: 767px) {
  .press h2.purple-title {
    display: none; } }
.press .container .row:last-child {
  border-bottom: none; }
.press .row {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 3px dotted #b8b6b9; }
.press h3 {
  margin-bottom: 10px; }
.press p {
  font-family: "Roboto Slab", serif;
  color: #7b787d; }
  @media (max-width: 767px) {
    .press p {
      margin-bottom: 10px; } }

.principal-features {
  padding-bottom: 40px; }
  .principal-features h2 {
    text-align: left !important;
    font-size: 50px; }
    @media (max-width: 767px) {
      .principal-features h2 {
        font-size: 37px; } }
  .principal-features.mint .features h3 {
    color: #27ccbf; }
  .principal-features .features {
    clear: both; }
    .principal-features .features:nth-child(2n+1) .icon, .principal-features .features:nth-child(2n+1) .pt-icon, .principal-features .features:nth-child(2n+1) .eng-icon, .principal-features .features:nth-child(2n+1) .es-icon, .principal-features .features:nth-child(2n+1) .resources-icon, .principal-features .features:nth-child(2n+1) .press-icon, .principal-features .features:nth-child(2n+1) .feature-icon, .principal-features .features:nth-child(2n+1) .social-icon {
      float: right; }
      @media (max-width: 767px) {
        .principal-features .features:nth-child(2n+1) .icon, .principal-features .features:nth-child(2n+1) .pt-icon, .principal-features .features:nth-child(2n+1) .eng-icon, .principal-features .features:nth-child(2n+1) .es-icon, .principal-features .features:nth-child(2n+1) .resources-icon, .principal-features .features:nth-child(2n+1) .press-icon, .principal-features .features:nth-child(2n+1) .feature-icon, .principal-features .features:nth-child(2n+1) .social-icon {
          float: inherit;
          text-align: center; } }
    .principal-features .features:nth-child(2n+1) .description {
      float: left; }
      @media (max-width: 767px) {
        .principal-features .features:nth-child(2n+1) .description {
          float: inherit;
          text-align: center; } }
    .principal-features .features:nth-child(2n) .icon, .principal-features .features:nth-child(2n) .pt-icon, .principal-features .features:nth-child(2n) .eng-icon, .principal-features .features:nth-child(2n) .es-icon, .principal-features .features:nth-child(2n) .resources-icon, .principal-features .features:nth-child(2n) .press-icon, .principal-features .features:nth-child(2n) .feature-icon, .principal-features .features:nth-child(2n) .social-icon {
      float: left; }
      @media (max-width: 767px) {
        .principal-features .features:nth-child(2n) .icon, .principal-features .features:nth-child(2n) .pt-icon, .principal-features .features:nth-child(2n) .eng-icon, .principal-features .features:nth-child(2n) .es-icon, .principal-features .features:nth-child(2n) .resources-icon, .principal-features .features:nth-child(2n) .press-icon, .principal-features .features:nth-child(2n) .feature-icon, .principal-features .features:nth-child(2n) .social-icon {
          float: inherit;
          text-align: center;
          display: inline-block; } }
    .principal-features .features:nth-child(2n) .description {
      float: right; }
      @media (max-width: 767px) {
        .principal-features .features:nth-child(2n) .description {
          float: inherit;
          text-align: center; } }
    .principal-features .features .icon, .principal-features .features .pt-icon, .principal-features .features .eng-icon, .principal-features .features .es-icon, .principal-features .features .resources-icon, .principal-features .features .press-icon, .principal-features .features .feature-icon, .principal-features .features .social-icon {
      width: 20%; }
      .principal-features .features .icon .feature-icon, .principal-features .features .pt-icon .feature-icon, .principal-features .features .eng-icon .feature-icon, .principal-features .features .es-icon .feature-icon, .principal-features .features .resources-icon .feature-icon, .principal-features .features .press-icon .feature-icon, .principal-features .features .feature-icon .feature-icon, .principal-features .features .social-icon .feature-icon {
        width: 100%;
        max-height: 140px; }
      @media (max-width: 767px) {
        .principal-features .features .icon, .principal-features .features .pt-icon, .principal-features .features .eng-icon, .principal-features .features .es-icon, .principal-features .features .resources-icon, .principal-features .features .press-icon, .principal-features .features .feature-icon, .principal-features .features .social-icon {
          width: 100%; } }
    .principal-features .features .description {
      width: 79%; }
      .principal-features .features .description h3 {
        margin-bottom: 0; }
      @media (max-width: 767px) {
        .principal-features .features .description {
          width: 100%; } }

.partnerships .partners {
  padding: 30px 0;
  position: relative; }
  .partnerships .partners:nth-child(2n+1) {
    background-color: #e8e8e8;
    padding-bottom: 60px;
    padding-top: 60px; }
    .partnerships .partners:nth-child(2n+1) .icon, .partnerships .partners:nth-child(2n+1) .pt-icon, .partnerships .partners:nth-child(2n+1) .eng-icon, .partnerships .partners:nth-child(2n+1) .es-icon, .partnerships .partners:nth-child(2n+1) .resources-icon, .partnerships .partners:nth-child(2n+1) .press-icon, .partnerships .partners:nth-child(2n+1) .feature-icon, .partnerships .partners:nth-child(2n+1) .social-icon {
      float: right; }
      @media (max-width: 767px) {
        .partnerships .partners:nth-child(2n+1) .icon, .partnerships .partners:nth-child(2n+1) .pt-icon, .partnerships .partners:nth-child(2n+1) .eng-icon, .partnerships .partners:nth-child(2n+1) .es-icon, .partnerships .partners:nth-child(2n+1) .resources-icon, .partnerships .partners:nth-child(2n+1) .press-icon, .partnerships .partners:nth-child(2n+1) .feature-icon, .partnerships .partners:nth-child(2n+1) .social-icon {
          float: inherit;
          text-align: center; } }
    .partnerships .partners:nth-child(2n+1) .description {
      float: left; }
      @media (max-width: 767px) {
        .partnerships .partners:nth-child(2n+1) .description {
          float: inherit;
          text-align: center; } }
      .partnerships .partners:nth-child(2n+1) .description .link {
        text-align: left; }
        @media (max-width: 767px) {
          .partnerships .partners:nth-child(2n+1) .description .link {
            text-align: center; } }
  .partnerships .partners:nth-child(2n) .icon, .partnerships .partners:nth-child(2n) .pt-icon, .partnerships .partners:nth-child(2n) .eng-icon, .partnerships .partners:nth-child(2n) .es-icon, .partnerships .partners:nth-child(2n) .resources-icon, .partnerships .partners:nth-child(2n) .press-icon, .partnerships .partners:nth-child(2n) .feature-icon, .partnerships .partners:nth-child(2n) .social-icon {
    float: left; }
    @media (max-width: 767px) {
      .partnerships .partners:nth-child(2n) .icon, .partnerships .partners:nth-child(2n) .pt-icon, .partnerships .partners:nth-child(2n) .eng-icon, .partnerships .partners:nth-child(2n) .es-icon, .partnerships .partners:nth-child(2n) .resources-icon, .partnerships .partners:nth-child(2n) .press-icon, .partnerships .partners:nth-child(2n) .feature-icon, .partnerships .partners:nth-child(2n) .social-icon {
        float: inherit;
        text-align: center;
        display: inline-block; } }
  .partnerships .partners:nth-child(2n) .description {
    float: right; }
    @media (max-width: 767px) {
      .partnerships .partners:nth-child(2n) .description {
        float: inherit;
        text-align: center; } }
    .partnerships .partners:nth-child(2n) .description .link {
      text-align: right; }
      @media (max-width: 767px) {
        .partnerships .partners:nth-child(2n) .description .link {
          text-align: center; } }
  .partnerships .partners .icon, .partnerships .partners .pt-icon, .partnerships .partners .eng-icon, .partnerships .partners .es-icon, .partnerships .partners .resources-icon, .partnerships .partners .press-icon, .partnerships .partners .feature-icon, .partnerships .partners .social-icon {
    width: 30%; }
    .partnerships .partners .icon .feature-icon, .partnerships .partners .pt-icon .feature-icon, .partnerships .partners .eng-icon .feature-icon, .partnerships .partners .es-icon .feature-icon, .partnerships .partners .resources-icon .feature-icon, .partnerships .partners .press-icon .feature-icon, .partnerships .partners .feature-icon .feature-icon, .partnerships .partners .social-icon .feature-icon {
      background-position: center;
      width: 100%;
      max-height: 140px; }
    @media (max-width: 767px) {
      .partnerships .partners .icon, .partnerships .partners .pt-icon, .partnerships .partners .eng-icon, .partnerships .partners .es-icon, .partnerships .partners .resources-icon, .partnerships .partners .press-icon, .partnerships .partners .feature-icon, .partnerships .partners .social-icon {
        width: 100%; } }
  .partnerships .partners .description {
    width: 69%; }
    @media (max-width: 767px) {
      .partnerships .partners .description {
        width: 100%; } }
    .partnerships .partners .description p {
      color: #7b787d;
      font-family: "Roboto Slab", serif;
      font-size: 22px;
      margin-bottom: 40px; }
    .partnerships .partners .description a {
      color: #c758a0;
      font-family: "Roboto Slab", serif;
      font-weight: 600;
      font-size: 18px; }

.about_us p {
  font-family: "Roboto Slab", serif;
  margin-bottom: 20px;
  margin-top: 10px;
  color: #7b787d;
  font-size: 22px;
  padding: 0 30px; }
  @media (max-width: 767px) {
    .about_us p {
      font-size: 18px;
      padding: 0; } }

.our-team .members {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap; }
  .our-team .members > [class*='col-'] {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column; }
  .our-team .members .team-avatar {
    border: 3px dotted #b8b6b9;
    border-color: #7b787d;
    padding: 10px;
    border-radius: 50%;
    display: inline-block; }
    .our-team .members .team-avatar img {
      border: 1px solid #7b787d;
      border-radius: 50%; }
  .our-team .members h5 {
    color: #65457c;
    margin-top: 25px; }
  .our-team .members h4 {
    color: #c758a0; }
  .our-team .members p {
    color: #7b787d;
    font-family: "Roboto Slab", serif;
    margin-top: 15px; }
    @media (max-width: 767px) {
      .our-team .members p {
        display: none; } }
  .our-team .members a {
    color: #3c0861;
    font-size: 22px; }

footer.footer {
  background-color: #e8e8e8; }
  footer.footer h5 {
    color: #3c0861;
    margin-top: 50px; }
    @media (max-width: 767px) {
      footer.footer h5 {
        margin-top: 20px; } }
  footer.footer ul {
    list-style: none;
    margin-top: 30px; }
    @media (max-width: 767px) {
      footer.footer ul {
        margin-top: 10px; } }
    footer.footer ul li {
      line-height: 1.3; }
      footer.footer ul li a {
        font-size: 25px;
        color: #7b787d;
        text-decoration: none; }
        footer.footer ul li a i {
          margin-right: 15px;
          font-size: 37px;
          vertical-align: sub;
          margin-bottom: 20px; }
          @media (max-width: 991px) {
            footer.footer ul li a i {
              margin-right: 0;
              font-size: 23px;
              vertical-align: baseline; } }
  footer.footer .social-links {
    margin: 50px 0; }
    footer.footer .social-links ul li {
      display: inline-block;
      margin: 0 8px; }
      footer.footer .social-links ul li a {
        transform: all 0.2s ease-in; }
        footer.footer .social-links ul li a:hover span {
          opacity: 0.8; }

.navbar {
  background-color: #3c0861;
  border-radius: 0;
  border: none;
  margin-bottom: 0; }
  .navbar .navbar-header .navbar-brand {
    padding: 10px 20px; }
    .navbar .navbar-header .navbar-brand img {
      height: 55px; }
      @media (max-width: 991px) {
        .navbar .navbar-header .navbar-brand img {
          height: 45px; } }
      @media (max-width: 767px) {
        .navbar .navbar-header .navbar-brand img {
          height: 43px; } }
  .navbar .mobile-lng {
    float: right;
    margin-top: 11px; }
    .navbar .mobile-lng button {
      padding: 0 !important; }
    .navbar .mobile-lng .filter-option {
      font-size: 25px;
      color: #ffffff;
      margin-right: -15px;
      padding: 8px 23px 0 0; }
    .navbar .mobile-lng .dropdown-menu.open .text {
      font-size: 25px;
      color: #ffffff;
      padding-right: 8px; }
  .navbar .navbar-toggle {
    margin-top: 10px; }
    .navbar .navbar-toggle .icon-bar {
      margin-top: 6px;
      width: 30px;
      background-color: #ffffff; }
  .navbar .navbar-nav.nav > li {
    line-height: 65px;
    padding-top: 10px; }
    @media (max-width: 991px) {
      .navbar .navbar-nav.nav > li {
        padding-top: 3px; } }
    @media (max-width: 767px) {
      .navbar .navbar-nav.nav > li {
        line-height: 3.1;
        margin-left: 15px; } }
    .navbar .navbar-nav.nav > li a {
      display: inline-block; }
  .navbar .navbar-nav.nav > .nav-link.active a {
    color: #c758a0; }
  .navbar .navbar-nav.nav > .nav-link > a {
    color: #ffffff;
    font-size: 30px;
    padding: 0px 25px;
    transition: all 0.2s ease-in; }
    .navbar .navbar-nav.nav > .nav-link > a:focuse, .navbar .navbar-nav.nav > .nav-link > a:hover {
      background-color: transparent;
      color: #c758a0; }
    @media (max-width: 1199px) {
      .navbar .navbar-nav.nav > .nav-link > a {
        padding: 0 15px;
        font-size: 28px; } }
    @media (max-width: 991px) {
      .navbar .navbar-nav.nav > .nav-link > a {
        font-size: 23px;
        padding: 0 5px; } }
  .navbar .navbar-nav.nav > .nav-btn {
    margin-top: -8px; }
  .navbar .nav > .nav-link > a:focus,
  .navbar .nav > .nav-link > a:hover {
    background-color: transparent;
    color: #c758a0; }
  @media (max-width: 767px) {
    .navbar .navbar-collapse {
      background-color: rgba(0, 0, 0, 0.3); } }
  .navbar .btn-group.bootstrap-select {
    width: inherit !important; }
    .navbar .btn-group.bootstrap-select .btn-default {
      background-color: transparent;
      border: none;
      outline: none;
      padding: 0 30px; }
      @media (max-width: 991px) {
        .navbar .btn-group.bootstrap-select .btn-default {
          padding: 0 15px; } }
      .navbar .btn-group.bootstrap-select .btn-default:hover, .navbar .btn-group.bootstrap-select .btn-default:focus {
        outline: none !important;
        margin: 0;
        box-shadow: none; }
    .navbar .btn-group.bootstrap-select .dropdown-menu.open {
      background-color: transparent;
      box-shadow: none;
      border: none;
      height: 160px; }
      .navbar .btn-group.bootstrap-select .dropdown-menu.open .dropdown-menu.inner {
        background-color: transparent;
        box-shadow: none;
        height: inherit; }
        .navbar .btn-group.bootstrap-select .dropdown-menu.open .dropdown-menu.inner li {
          margin: 0;
          height: 40px;
          text-align: center; }
          .navbar .btn-group.bootstrap-select .dropdown-menu.open .dropdown-menu.inner li.selected {
            background-color: transparent;
            outline: none;
            display: none; }
          .navbar .btn-group.bootstrap-select .dropdown-menu.open .dropdown-menu.inner li a {
            outline: none;
            height: 40px;
            margin: 0;
            padding: 0; }
            .navbar .btn-group.bootstrap-select .dropdown-menu.open .dropdown-menu.inner li a:hover, .navbar .btn-group.bootstrap-select .dropdown-menu.open .dropdown-menu.inner li a:focus {
              background-color: transparent; }
    .navbar .btn-group.bootstrap-select .bs-caret {
      display: none; }
