<div class="plans">
	<div class="container">
		<h2 class="orange-title">{{  include.section.title }}</h2>
		<div class="row">
		{% for plan in include.section.plan %}
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="plan-box">
					<span style="background-image: url({{ site.baseurl  }}/{{ plan.icon }});" class="feature-icon"></span>
					<h3>{{ plan.title }}</h3>
					<h4>{{ plan.subtitle }}</h4>
					{% for subsection in plan.subsections %}
					<p>{{ subsection.title }}</p>
					{% endfor %}
					<a href="{{ plan.button-url }}" class="btn btn-orange btn-sm">{{ plan.button-title }}</a>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
</div>