<div class="principal-features">
	<div class="container">
		<h2 class="orange-title">{{ include.section.title }}</h2>
		{% for principal in include.section.principals %}
		<div class="features">
			<div class="icon">
				<div class="text-center"><span style="background-image: url({{ site.baseurl  }}/{{ principal.icon }});" class="feature-icon"></span></div>
			</div>
			<div class="description ">
				<h3>{{ principal.title }}</h3>
				<p>{{ principal.info }}</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>