<div class="client-review {{ include.section.bg-color }}">
	<div class="container">
		<blockquote>
			<p>{{ include.section.review }}</p>
			<cite>
			{% if include.section.avatar %}
				<div class="row v-center">
					<div class="col-sm-10">{{ include.section.author }}</div>
					<div class="col-sm-2 text-left"><img src="{{ site.baseurl}}/{{ include.section.avatar}}" class="rounded-image"></div>
				</div>
			{% else %}
				{{ include.section.author }}
			{% endif %}
			</cite>
		</blockquote>
	</div>
	{% if include.section.logos %}
		<div class="client-logo">
			<div class="container-fluid">
				<div class="logos">
					{% for logo in include.section.logos %}
					<img src="{{ site.baseurl }}/{{ logo.img }}">
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}
</div>