<footer class="footer">
	<div class="bg-orange p-20 text-center">
		<div class="container-fluid">
			<h1 class="hero-heading">{{ site.data.footer.orange-title }}</h1>
			<div><a href="{{ site.data.footer.orange-button-url }}" class="btn btn-purple btn-lg">{{ site.data.footer.orange-button-title }}</a></div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			{% for navigation in site.data.footer.navigation %}
				<div class="col-md-3 col-sm-3">
					<h5>{{ navigation.title }}</h5>
					<ul>
						{% for link in navigation.links %}
						<li><a href="{{ link.url }}">
						{% if link.icon %}
							<i class="fa {{ link.icon }}"></i>
						{% endif %}
						{{ link.name }}
						</a></li>
						{% endfor %}
					</ul>
				</div>
			{% endfor %}
		</div>
		<div class="social-links text-center">
				<ul>
					{% for icon in site.data.footer.social-icons %}
					<li>
						<a href="{{ icon.url }}">
							<span class="social-icon" style="background-image: url({{ site.baseurl }}/img/{{ icon.img }});"></span>
						</a>
					</li>
					{% endfor %}
				</ul>
		</div>
	</div>
</footer>