<nav class="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="{{ site.baseurl }}/img/header/logo.png" alt="konduto logo">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        {% for navigation in site.data.navigation.header-nav %}
        <li class="nav-link">
          <a href="{{ navigation.url }}">{{ navigation.name }}</a>
        </li>
        {% endfor %}
        <li class="nav-btn">
          <a href="{{ site.data.navigation.button-url }}" class="btn btn-xs btn-mint">{{ site.data.navigation.button-title }}</a>
        </li>
        <li>
          <select class="selectpicker">
            {% for language in site.data.navigation.language %}
              <option value="{{ language.url }}" data-icon="{{ language.icon }}"></option>
            {% endfor %}
          </select>>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>