<div class="container">
  <div class="row post-page">
    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
      <div class="date">{% t published %}
        {% assign months = "january|february|march|april|may|june|july|august|september|october|november|december" | split: "|" %}
            {% assign m = page.date | date: "%-m" | minus: 1 %}
            {% assign day = page.date | date: "%d" %}
            {% assign month = months[m] %}
            {% assign year = page.date | date: "%Y" %}
            {{day}} {% t {{ month }} %} {{year}}
          <span>|</span> {% include read_time.html %}
      </div>
      <h2 class="orange-title text-left">{{ page.title }}</h2>
      <h3 class="text-left">{{ page.subtitle }}</h3>

      <div class="row v-center autor-info">
        <div class="col-md-2 col-sm-2 col-xs-4 text-center">
          <div class="author-image" style="background-image: url({{ site.authors.[page.author].image }});"></div>
        </div>
        <div class="col-md-10 col-sm-10 xol-xs-8 author">
            <a href="{{ site.authors.[page.author].link }}"><div class="author">{{ site.authors.[page.author].name }}</div></a>
            <div class="position">{{ site.authors.[page.author].bio }}</div>
        </div>
      </div>

      <div class="post">
        {{ page.image }}
        {{ content }}
      </div>

      {% if page.previous or page.next %}
        {% if page.next %}
          <div class=" post-nav">
              <h2>
                {% if site.lang == site.default_lang %}
                <a href="{{ site.baseurl_root }}{{  page.next.url }}" ><span>Next up:</span> {{ page.next.title }}</a></h2>
                {% else %}
                <a href="{{ site.baseurl_root }}/{{ site.lang }}{{  page.next.url }}"><span>Next up:</span> {{ page.next.title }}</a></h2>
                {% endif %}
              <p>{{ page.next.excerpt | markdownify | truncatewords: 20 }}</p>
          </div>
        {% endif %}
        {% if page.previous %}
          <div class="post-nav">
            <h2>
              {% if site.lang == site.default_lang %}
              <a href="{{ site.baseurl_root }}{{ page.previous.url }}"><span>Previous story:</span> {{ page.previous.title }}</a></h2>
              {% else %}
              <a href="{{ site.baseurl_root }}/{{ site.lang }}{{ page.previous.url }}"><span>Previous story:</span> {{ page.previous.title }}</a></h2>
              {% endif %}
            <p>{{ page.previous.excerpt | markdownify | truncatewords: 20 }}</p>
          </div>
        {% endif %}
      {% endif %}
    </div>
    <div class="blog-page col-lg-4 col-md-5 col-sm-5 col-xs-12">
      <div class=" right-column">
        <div class="more-post">
          <div class="header">
            <h3 class="text-center">{% t more-post-title %}</h3>
          </div>
          <div class="body">
            {% for post in site.posts limit:5 %}
              {% if site.lang == site.default_lang %}
              <a href="{{ site.baseurl_root }}{{ post.url }}" ><h5>{{ post.title }}</h5></a>
              {% else %}
              <a href="{{ site.baseurl_root }}/{{ site.lang }}{{ post.url }}"><h5>{{ post.title }}</h5></a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="subscribe">
          <div class="header">
            <h3 class="text-center">{% t newsletter-title %}</h3>
          </div>
          <div class="body">
            <h4>{% t subscribe-title %}</h4>
            <form>
              <input type="email" required placeholder="Inserir e-mail" class="form-control">
              <div class="text-center">
                <button type="sybmit" class="btn btn-xs btn-pink">{% t button-title %}</button>
              </div>
            </form>
          </div>
        </div>
        <div class="continue-reading">
          <div class="header">
            <h3 class="text-center">{% t reading-title %}</h3>
          </div>
          <div class="body">
            {% for book in  site.translations[site.lang].book-links %}
            <a href="{{ book.url }}"><h5> >> {{ book.title }}</h5></a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>