blockquote {
	padding: 40px 0 10px 0;
	color: $white;
	border-left: none;
	p {
		font-size: $font-size-blockquote;
		text-align: center;
		line-height: 1.1;
	}
	cite, div {
		text-align: right;
		display: block;
		font-size: $font-size-base;
		font-family: $roboto-font;
		font-style: normal;
		& .v-center {
			margin-top: -25px;
		}
	}
}
.p-20 {
	padding: 40px 0;
	h1.hero-heading {
		margin-bottom: 40px;
	}
}
.client-logo {
	text-align: center;
	.logos {
		img {
			max-height: 40px;
			margin: 20px 20px 30px 20px;
		}
	}
}
.rounded-image {
	border-radius: 50%;
	max-height: 130px;
}
.v-center {
	display: table;
	width: 100%;
	@media #{$xs}  {
		display: block;
	}
	& > * {
		display: table-cell;
		vertical-align: middle;
		float: none;
		@media #{$xs}  {
			display: block;
		}
	}
}
.partners-logo {
	text-align: center;
	img {
		width: 19%;
		margin: 50px 30px;
	}
}
.see-more {
	color: $red;
	text-align: right;
	margin-right: 200px;
	margin-bottom: 30px;
	font-size: $font-size-h3;
	font-family: $roboto-font;
	display: block;
	font-weight: $font-weight-semibold;
}