.btn {
	position: relative;
	color: $white;
	border-radius: 0;
	transition: margin-top 0.4s ease, margin-left 0.4s ease, box-shadow 0.4s ease;
	margin-left: 5px;
	will-change: transform;
    &:active {
		transition: margin-top 0.4s ease, margin-left 0.4s ease, box-shadow 0.4s ease;
		margin-left: 5px;
		margin-top: 5px;
    }
    &:hover,
	&:focus {
		background-color: $mint;
		color: $white;
	}
	&.btn-lg {
		font-size: 30px;
		letter-spacing: 1px;
		font-weight: $font-weight-semibold;
		padding: 20px 50px;
		@include media-down(sm) {
			font-size: 20px;
			width: 90%;
			padding: 12px 0;
		}
	}
	&.btn-sm {
		font-size: 25px;
		padding: 12px;
		width: 250px;
		font-weight: $font-weight-semibold;
		@include media-down(sm) {
			font-size: 22px;
			width: 90%;
			padding: 10px 0;
		}
	}
	&.btn-xs {
		font-size: 25px;
		padding: 8px 30px;
	}
	&.btn-mint {
		background-color: $mint;
		border: solid 1px $mint;
		&:active {
			box-shadow: 0px 0px 0px $mint !important;
		}
		&:hover,
		&:focus {
			background-color: $mint;
		}
		&.btn-xs {
			margin-top: 5px;
			box-shadow: 1px 0px 0px $light-mint,0px 1px 0px $light-mint,
			2px 1px 0px $light-mint,1px 2px 0px $light-mint,
			3px 2px 0px $light-mint,2px 3px 0px $light-mint,
			4px 3px 0px $light-mint,3px 4px 0px $light-mint,
			5px 4px 0px $light-mint,4px 5px 0px $light-mint;	
		}
	}
	&.btn-orange {
		background-color: $orange;
		border: solid 1px $orange;
		font-family: $buttons-font-family;
		&:active {
			box-shadow: 0px 0px 0px $orange !important;
		}
		&:hover,
		&:focus {
			background-color: $orange;
		}
		&.btn-xs {
			margin-top: 5px;
			box-shadow: 1px 0px 0px $light-mint,0px 1px 0px $light-orange,
			2px 1px 0px $light-mint,1px 2px 0px $light-orange,
			3px 2px 0px $light-mint,2px 3px 0px $light-orange,
			4px 3px 0px $light-mint,3px 4px 0px $light-orange,
			5px 4px 0px $light-mint,4px 5px 0px $light-orange;	
		}
		&.btn-sm {
			margin-top: 6px;
			box-shadow: 1px 0px 0px $light-orange,0px 1px 0px $light-orange,
			2px 1px 0px $light-orange,1px 2px 0px $light-orange,
			3px 2px 0px $light-orange,2px 3px 0px $light-orange,
			4px 3px 0px $light-orange,3px 4px 0px $light-orange,
			5px 4px 0px $light-orange,4px 5px 0px $light-orange,	
			6px 5px 0px $light-orange,5px 6px 0px $light-orange;	
		}
		&.btn-lg {
			margin-top: 11px;
			box-shadow: 1px 0px 0px $light-orange,0px 1px 0px $light-orange,
			2px 1px 0px $light-orange,1px 2px 0px $light-orange,
			3px 2px 0px $light-orange,2px 3px 0px $light-orange,
			4px 3px 0px $light-orange,3px 4px 0px $light-orange,
			5px 4px 0px $light-orange,4px 5px 0px $light-orange,	
			6px 5px 0px $light-orange,5px 6px 0px $light-orange,	
			7px 6px 0px $light-orange,6px 7px 0px $light-orange,	
			8px 7px 0px $light-orange,7px 8px 0px $light-orange,	
			9px 8px 0px $light-orange,8px 9px 0px $light-orange,	
			10px 9px 0px $light-orange,9px 10px 0px $light-orange,	
			11px 10px 0px $light-orange,10px 11px 0px $light-orange;	
		}
	}
}