$dark-purple: #3c0861;
$purple: #65457c;

$pink: #c758a0;
$light-pink: #f5aecd;

$mint: #27ccbf;
$light-mint: #86e0d9;

$orange: #f6891f;
$light-orange: #f7c08a;

$red: #dd293e;
$light-red: #e59ca5;

$dark-grey: #7b787d;
$grey: #b8b6b9;
$light-grey: #e8e8e8;

$white: #ffffff;

.bg-light-red {
	background-color: $light-red;
}
.bg-red {
	background-color: $red;
}
.bg-dark-purple {
	background-color: $dark-purple;
}
.bg-pink {
	background-color: $pink;
}
.bg-light-pink {
	background-color: $light-pink;
}
.bg-mint {
	background-color: $mint;
}
.bg-orange {
	background-color: $orange;
}