$dark-purple: #3c0861;
$purple: #65457c

$pink: #c758a0;
$light-pink: #f5aecd;

$mint: #27ccbf;
$light-mint: #86e0d9;

$orange: #f6891f;
$light-orange: #f7c08a;

$red: #dd293e;
$light-red: #e59ca5;

$dark-grey: #7b787d;
$grey: #b8b6b9;
$light-grey: #e8e8e8;