.features {
	margin-top: 20px;
	h3 {
		color: $dark-grey;
		font-weight: $font-weight-semibold;
		margin: 20px 0;
	}
	p {
		color: $dark-grey;
		font-family: $roboto-font;
		margin-bottom: 40px;
		@include media-down(sm) {
			display: none;
		}
	}
	&.no-spacing {
		h3 {
			margin-bottom: 5px;
		}
	}
	h2 {
		text-align: left !important;
		font-size: $font-size-h1-mobile;
		@include media-down(sm) {
			font-size: $font-size-h1-mobile-xs;
		}
	}
}