footer.footer {
	background-color: $light-grey;
	h5 {
		color: $dark-purple;
		margin-top: 50px;
		@include media-down(sm) {
			margin-top: 20px;
		}
	}
	ul {
		list-style: none;
		margin-top: 30px;
		@include media-down(sm) {
			margin-top: 10px;
		}
		li {
			line-height: 1.3;
			a {
				font-size: $font-size-h3;
				color: $dark-grey;
				text-decoration: none;
				i {
					margin-right: 15px;
					font-size: $font-size-h2;
					vertical-align: sub;
					margin-bottom: 20px;
					@include media-down(md) {
						margin-right: 0;
						font-size: 23px;
						vertical-align: baseline;
					}
				}
			}
		}
	}
	.social-links {
		margin: 50px 0;
		ul {
			li {
				display: inline-block;
				margin: 0 8px;
				a {
					transform: all 0.2s ease-in;
					&:hover {
						span {
							opacity: 0.8;
						}
					}
				}
			}
		}
	}
}