.navbar {
	background-color: $dark-purple;
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	.navbar-header {
		.navbar-brand {
			padding: 10px 20px;
			img {
				height: 55px;
				@include media-down(md) {
					height: 35px;
				}
				@include media-down(sm) {
					height: 43px;
				}
			}
		}
	}
	.mobile-lng {
		float: right;
		margin-top: 11px;
		button {
			padding: 0 !important;
		}
	}
	.navbar-toggle {
		margin-top: 10px;
		.icon-bar {
			margin-top: 6px;
			width: 30px;
			background-color: $white;
		}
	}
	.navbar-nav.nav > li {
		line-height: $line-height-base;
		@include media-down(md) {
			line-height: 65px;
		}
		@include media-down(sm) {
			line-height: 3.1;
			margin-left: 15px;
		}
		a {
			display: inline-block;
		}
	}
	.navbar-nav.nav {
		& > .nav-link {
			&.active {
				a {
					color: $pink;
				}
			}
			& > a {
				color: $white;
				font-size: 30px;
				padding: 0px 25px;
				transition: all 0.2s ease-in;
				&:focuse,
				&:hover {
					background-color: transparent;
					color: $pink;
				}
				@include media-down(lg) {
					padding: 0 15px;
					font-size: 28px;
				}
				@include media-down(md) {
					font-size: 23px;
					padding: 0 6px;
				}

			}
		}
		& > .nav-btn {
			margin-top: -8px;			
		}
	}
	.nav>.nav-link>a:focus, 
	.nav>.nav-link>a:hover {
		background-color: transparent;
		color: $pink
	}
	.navbar-collapse {
		@include media-down(sm) {
			background-color: rgba(0, 0, 0, 0.3);
		}
	}
	.btn-group.bootstrap-select {
		width: inherit !important;
		.btn-default {
			background-color: transparent;
			border: none;
			outline: none;
			padding: 0 30px;
			&:hover,
			&:focus {
				outline: none !important;
				margin: 0;
				box-shadow: none;
			}
		}
		.dropdown-menu.open {
			background-color: transparent;
			box-shadow: none;
			border: none;
			height: 160px;
			.dropdown-menu.inner {
				background-color: transparent;
				box-shadow: none;
				height: inherit;
				li {
					margin: 0;
					height: 40px;
					text-align: center;
					&.selected {
						background-color: transparent;
						outline: none;
					}
					a {
						outline: none;
						height: 40px;
						margin: 0;
						padding: 0;
						&:hover,
						&:focus {
							background-color: transparent;
						}
					}
				}
			}
		}
		.bs-caret {
			display: none;
		}
	}

}