.hero {
	background-color: $dark-purple;
	padding-top: 70px;
	padding-bottom: 30px;
	h2 {
		margin-bottom: 50px;
		@include media-down(sm) {
			display: none;
		}
	}
	.btn {
		margin-bottom: 40px;
	}
}
.hero-clinets {
	background-color: $purple;
	padding-top: 15px;
	h3 {
		color: $white;
	}
	.logos {
		margin: 30px 0;
		img {
			width: 12%;
			display: inline-block;
			margin: 10px 40px;
			@include media-down(sm) {
				margin: 15px;
				width: 27%;
			}
			@include media-down(xs) {
				width: 38%;
			}
		}
	}
}