.partnerships  {
	.partners {
		padding: 30px 0;
		position: relative;
		&:nth-child(2n+1) {
			background-color: $light-grey;
			padding-bottom: 60px;
			padding-top: 60px;
			.icon {
				float: right;
				@include media-down(sm) {
					float: inherit;
					text-align: center;
				}
			}
			.description {
				float: left;
				@include media-down(sm) {
					float: inherit;
					text-align: center;
				}
				.link {
					text-align: left;
					@include media-down(sm) {
						text-align: center;
					}
				}
			}
		}
		&:nth-child(2n) {
			.icon {
				float: left;
				@include media-down(sm) {
					float: inherit;
					text-align: center;
					display: inline-block;
				}
			}
			.description {
				float: right;
				@include media-down(sm) {
					float: inherit;
					text-align: center;
				}
				.link {
					text-align: right;
					@include media-down(sm) {
						text-align: center;
					}
				}
			}
		}
		.icon {
			width: 30%;
			.feature-icon {
				background-position: center;
				width: 100%;
				max-height: 140px;
			}
			@include media-down(sm) {
				width: 100%;
			}
		}
		.description {
			width: 69%;
			@include media-down(sm) {
				width: 100%;
			}
			p {
			    color: $dark-grey;
				font-family: $roboto-font;
				font-size: $font-size-base-big;
				margin-bottom: 40px;
			}
			a {
				color: $pink;
				font-family: $roboto-font;
				font-weight: 600;
				font-size: $font-size-base;
			}
		}
	}
}