.plans {
	margin-bottom: 80px;
	@include media-up(md) {
		.row {
			display: table;
			overflow-x: hidden;
			width: 100%;
			& > [class*='col-'] {
				width: 50%;
				height: 100%;
				float: none;
				vertical-align: top;
				display: table-cell;
			}
		}
	}
	.row > [class*='col-']:nth-child(2n) {
		.plan-box h3, h4 {
			color: $mint;
		}
	}
	.plan-box {
		margin: 50px 10px 0 10px;
		border: $border;
		height: 100%;
		border-radius: $border-radius;
		padding: 40px 30px 30px 60px;
		text-align: center;
		@include media-down(md) {
			margin: 0;
			padding: 20px;
		}
		@include media-down(sm) {
			margin: 10px 0;
			padding: 20px;
		}
		h3, h4 {
			color: $mint;
		}
		h3 {
			margin: 20px 0;
			font-size: $font-size-big;
			font-weight: $font-weight-semibold;
		}
		h4 {
			text-align: left;
			margin-bottom: 40px;
			font-family: $roboto-font;
			margin-left: 30px;
			margin-right: 11px;
			@include media-down(sm) {
				margin: 0 0 20px 0;
				text-align: center;
			}
		}
		p {
			color: $dark-grey;
			text-align: left;
			margin-bottom: 20px;
			font-family: $roboto-font;
			@include media-down(sm) {
				text-align: center;
			}
		}
		.btn-orange{
			margin-top: 70px;
			@include media-down(sm) {
				margin-top: 20px;
			}
		}
	}
	.plan-box:nth-child(1){
		h3, h4 {
			color: $purple;
		}
	}
}