@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Yanone+Kaffeesatz:400,700&subset=latin-ext');

* {
	font-family: $font-family-base;
	@include media-down(sm) {
		font-family: $font-size-base-mobile;
	}
}
h1, h2, h3, h4, h5, h6, p, a, ul, blockquote {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: $font-size-h1;
	color: $white;
	letter-spacing: 2px;
	&.hero-heading {
		margin-bottom: 70px;
		@include media-down(sm) {
			margin-bottom: 50px;
		}
	}
	@include media-down(sm) {
		font-size: $font-size-h1-mobile;
	}
	@include media-down(xs) {
		font-size: $font-size-h1-mobile-xs;
	}
	& > b {
		font-weight: normal;
		color: $pink;
	}
}
h2 {
	font-size: $font-size-h2;
	color: $white;
	&.orange-title {
		color: $orange;
		font-size: $font-size-h1;
		margin-top: 60px;
		margin-bottom: 40px;
		text-align: center;
		@include media-down(sm) {
		font-size: $font-size-h1-mobile;
		}
		@include media-down(xs) {
			font-size: $font-size-h1-mobile-xs;
			margin: 30px 0;
		}
	}
}
h3 {
	font-size: $font-size-h3;
	font-family: $roboto-font;
}
h4 {
	font-size: $font-size-h4;
}
h5 {
	font-size: $font-size-h5;
}
p {
	font-size: $font-size-base;
}