// Our variables
$font-family-base: 'Yanone Kaffeesatz', sans-serif;
$buttons-font-family: 'Roboto Slab', serif;
$roboto-font: 'Roboto Slab', serif;

$font-size-base: 18px;
$font-size-base-mobile: 16px;
$font-size-base-small: 14px;
$font-size-big: floor(($font-size-base * 1.8));

$font-size-slogan: floor(($font-size-base * 3.8));
$font-size-blockquote: floor(($font-size-base * 3.2));
$font-size-blockquote-mobile: floor(($font-size-base * 2.0));

$font-size-h1: floor(($font-size-base * 4));
$font-size-h1-mobile: floor(($font-size-base * 2.8));
$font-size-h1-mobile-xs: floor(($font-size-base * 2.1));

$font-size-h2: floor(($font-size-base * 2.1));
$font-size-h3: floor(($font-size-base * 1.4));
$font-size-h4: floor(($font-size-base * 1.28));
$font-size-h5: floor(($font-size-base * 1.8));

$link-size: floor(($font-size-base * 1.4));

$line-height-base: 90px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-ultrabold: 900;

$border-radius: 25px;

$border: 3px dashed $grey;
